h1 {
    color: #3a0717;    
    background-color: #976575;
}

h2 {
    color: black;
    background-color: #E4AFC0;
}

h3 {
    color: rgb(70, 4, 70);
    background-color: #76A4B1;
}

h4 {
    color: rgb(18, 11, 153);
    background-color: #6D8E97;
}

#selenium {
    background-color: #F1EFD2;
}

#vyhody {
    background-color: slateblue;
}

#komponenty {
    background-color: rosybrown;
}

#frameworky {
    background-color: darkcyan;
}

#vyzvy {
    background-color: khaki;
}

#zaver {
    background-color: lightcoral;
}

#dulezite {
    color: red;
    font-weight: bold;
}