h1 {
    color: rgb(220, 29, 131);
    background-color: antiquewhite;
}

h2 {
    color: black;
    background-color: goldenrod;
}

h3 {
    color: violet;
    background-color: rgb(11, 158, 50);
}

h4 {
    color: brown;
    background-color: rgb(9, 29, 129);
}

#selenium {
    background-color: slategray;
}

#vyhody {
    background-color: slateblue;
}

#komponenty {
    background-color: rosybrown;
}

#frameworky {
    background-color: darkcyan;
}

#vyzvy {
    background-color: khaki;
}

#zaver {
    background-color: lightcoral;
}

#dulezite {
    color: red;
    font-weight: bold;
}